<p> </p>
<div class="panel panel-info">

<div class="panel-heading"><h2>Your Pragmatic Cart</h2></div>

<div class="panel-body">
 <table class="table table-responsive">
    
    <% @cart.line_items.each do |item| %>
    <tr>
    <td><%= item.quantity %> &times; </td><td><%= item.product.title %></td><td><%= number_to_currency(item.total_price) %></td>
    </tr>
    <% end %>
    <tr>
    <td colspan="2"><b>Total Order Value: </b></td><td><b><%= number_to_currency(@cart.total_price) %></b></td>
    </tr>
 </table>
</div>

<div class="panel-footer">
<%= button_to "Checkout", new_order_path, method: :get , class:"btn btn-default" %>
<hr/>
<%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-success" %>

<hr/>
<%= link_to 'Edit', edit_cart_path(@cart) ,class:"btn btn-info" %> |
<%= link_to 'Back', carts_path , class:"btn btn-danger" %>
<%= link_to 'Keep Shopping', store_index_url , class:"btn btn-default" %>


</div></div>
