<p id="notice"><%= notice %></p>

<h1>Your Pragmatic Catalog</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= (sanitize(product.description)) %></td>
        <td><%= image_tag(product.image_url) %></td>
        <td><div class="price_line">
          <span class="price"><%= number_to_currency(product.price) %><%= button_to 'Add to Cart', line_items_path(product_id: product) %></span>
        </div></td>
        <td><%= link_to 'Show', product , class:"btn btn-xs btn-success" %>
        <%= link_to 'Edit', edit_product_path(product) , class:"btn btn-xs btn-primary" %>
        <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-xs btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>