<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container">
    <nav class="navbar navbar-default">
  
    <div class="navbar-header">
    <a class="navbar-brand" href="/"><%= image_tag 'rails.png', alt: 'The Major Depot' %></a>
    </div>
    <h1> </h1>
    <ul class="nav navbar-nav">
      <li><a href="/",class= "link">Store</a></li>
      <li><a href="/products", class= "link">Products</a></li>
      <li><a href="/carts", class= "link">Cart</a></li>
      <li><a href="/line_items", class= "link">Line Items</a></li>
      <li><a href="/orders", class= "link">Orders</a></li>
    </ul>
  
    </nav>
    <div>
    <%= yield %>
    
    </div>
  </body>
</html>
